# Fly.io configuration for charms-indexer
app = "charms-explorer-indexer"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  RUST_LOG = "info"  # Logging level for Rust app
  ENABLE_BITCOIN_MAINNET = "true"   # Enable mainnet
  ENABLE_BITCOIN_TESTNET4 = "true"  # Ensure testnet4 is enabled

#[processes]
#  indexer = "charms-indexer"  # Background process, runs continuously

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
